<div class="container">
  <h2>Create an Account</h2>
  <form action="/user/create" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
    <button type="submit">Create Account</button>
  </form>
</div>
