<!doctype html>
<html>
  <head>
    <title>Emails</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Emails</h1>
    <table id="emailsTable">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Sender Name</th>
          <th>Sender Address</th>
        </tr>
      </thead>
      <tbody id="emailRows">
        <!-- Email rows will be inserted dynamically here -->
      </tbody>
    </table>
    <div id="pagination">
      <button id="prevPage">Previous</button>
      <span id="pageInfo"></span>
      <button id="nextPage">Next</button>
    </div>

    <script>
      const socket = io();
      let currentPage = 1;
      const pageSize = 10; // Number of emails per page

      socket.on('connect', () => {
        console.log('Connected to server');
        setInterval(() => {
          fetchEmails(currentPage, pageSize);
        }, 1000);
      });

      socket.on('emails', (emails) => {
        const emailTableBody = document.getElementById('emailRows');
        emailTableBody.innerHTML = '';

        emails.forEach((email) => {
          const tr = document.createElement('tr');
          tr.innerHTML = `
          <td>${email.message.subject}</td>
          <td>${email.message.sender.emailAddress.name}</td>
          <td>${email.message.sender.emailAddress.address}</td>
        `;
          emailTableBody.appendChild(tr);
        });

        updatePaginationInfo();
      });

      document.getElementById('prevPage').addEventListener('click', () => {
        if (currentPage > 1) {
          currentPage--;
          fetchEmails(currentPage, pageSize);
        }
      });

      document.getElementById('nextPage').addEventListener('click', () => {
        currentPage++;
        fetchEmails(currentPage, pageSize);
      });

      function fetchEmails(page, pageSize) {
        const userId = '<%= userId %>'; // Replace with actual user ID
        socket.emit('getEmails', { userId, page, pageSize });
      }

      function updatePaginationInfo() {
        document.getElementById('pageInfo').innerText = `Page ${currentPage}`;
      }
    </script>
  </body>
</html>
